/*Mobile Css for phone views*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.9rem;
    margin-left: 0;
    text-align: center;
    color: white;
}

nav {
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: white;
}

#menu.open::before {
	content: "❎";
}

.navigation {
    padding: 1rem;
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
	align-items: right;
}

.nav-links a:hover {
    color: #dd0808;
}
/* the end of the navigation bar*/

.temple-cards {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 0 30px;
    display: inline-flex;
    padding: 15px;
  }
  
 .temple-card {
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5px;
  }
  .temple-card h2, .temple-card p {
    margin: 10px;
  }

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

.hide {
	display: none;
}

@media screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }
}